# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!.p10k.zsh
!.tmux.conf

# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log

# Do not ignore specific files
.config/*
!.config/

# alacritty
.config/alacritty/*
!.config/alacritty/
!.config/alacritty/alacritty.yml
.config/alacritty/**/.DS_Store

# nvim
.config/nvim/*
!.config/nvim/
!.config/nvim/**
.config/nvim/**/.DS_Store

# skhd
.config/skhd/*
!.config/skhd/
!.config/skhd/**
.config/skhd/**/.DS_Store

# tmux
.config/tmux/*
!.config/tmux/
!.config/tmux/**
.config/tmux/**/.DS_Store

# yabai
.config/yabai/*
!.config/yabai/
!.config/yabai/**
.config/yabai/**/.DS_Store
